.circle {
	width: 100%;
	height: 100%;
	transform: rotateX(180deg);

	&__item {
		&-first {
			fill: none;
			stroke: $color-lightningYellow;
			stroke-dasharray: 314, 628;
			stroke-width: 53px;
		}

		&-divider-first {
			fill: none;
			stroke: $color-white;
			stroke-dasharray: 220, 628;
			stroke-width: 55px;
		}

		&-second {
			fill: none;
			stroke: $color-atlantis;
			stroke-dasharray: 210, 628;
			stroke-width: 53px;
		}

		&-divider-second {
			fill: none;
			stroke: $color-white;
			stroke-dasharray: 105, 628;
			stroke-width: 55px;
		}

		&-third {
			fill: none;
			stroke: $color-cerulean;
			stroke-dasharray: 95, 628;
			stroke-width: 53px;
		}

		&-mask {
			fill: none;
			stroke: rgba(255, 255, 255, 0.7);
			stroke-width: 53px;
		}
	}

	&__needle {
		position: absolute;
		left: 0;
		top: 85px;
		display: block;
		width: 100%;
		text-align: center;
		transform: rotate(270deg);
		transform-origin: bottom center;
	}

	&__needle-img {
		width: 20px;
		height: 65px;
	}

	&__slider {
		width: 0;
		height: 0;
		opacity: 0;
		pointer-events: none;
	}

	&__slider-label {
		display: inline-block;
		font-size: 18px;
		line-height: 24px;
		color: $color-black;
	}

	&__slider-number {
		display: block;
		margin-top: 27px;
		font-family: $font-family-roboto;
		font-weight: 900;
		font-size: 50px;
		line-height: 22px;
		color: $color-cerulean;
	}

	&__slider--wrapper {
		margin-top: 16px;
		margin-left: 66px;
		max-width: 220px;

		@include mobile-sm {
			order: 1;
			margin: 0 0 25px;
			max-width: 100%;
		}
	}

	&--wrapper {
		position: relative;
		margin-bottom: calc(296px / -2);
		width: 256px;
		height: 296px;

		@include mobile-sm {
			order: 2;
		}
	}

	@media (max-width: 320px) {
		margin-left: -10px;
	}
}
