.skills {
	position: relative;
	background-color: $color-white;

	&__main {
		border-bottom: 2px solid $color-gallery;
		padding: 33px 21px 40px;
	}

	&__js {
		display: flex;
		justify-content: flex-start;
		padding: 33px 21px 67px;

		@include mobile-sm {
			flex-direction: column;
		}
	}

	&__title {
		margin-bottom: 25px;
		font-size: 18px;
		color: $color-black;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		margin-bottom: -40px;
	}

	&__list-item {
		width: calc(100% / 4);
		text-transform: uppercase;

		@include mobile-sm {
			width: calc(100% / 2);
		}
	}

	&--wrapper {
		@include container;
	}
}
