$sprites: (
	"ico_arrow": (
		normal: (
			x: 186,
			y: 0,
			width: 57,
			height: 39,
			image: "sprites.png",
			total_width: 243,
			total_height: 166,
		),
		retina: (
			x: 372,
			y: 0,
			width: 114,
			height: 78,
			image: "sprites@2x.png",
			total_width: 486,
			total_height: 332,
		),
	),
	"ico_stamp": (
		normal: (
			x: 0,
			y: 0,
			width: 184,
			height: 166,
			image: "sprites.png",
			total_width: 243,
			total_height: 166,
		),
		retina: (
			x: 0,
			y: 0,
			width: 368,
			height: 332,
			image: "sprites@2x.png",
			total_width: 486,
			total_height: 332,
		),
	),
);

@each $name in map-keys($sprites) {
	.sprite-#{$name} {
		@include sprite($name);
	}
}
