// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;
$color-gallery: #f0f0f0;
$color-mineShaft: #333;
$color-doveGray: #666;
$color-cerulean: #0093d7;
$color-lightningYellow: #ffc815;
$color-atlantis: #a3cd3b;

// FONTS
$font-family-roboto: "Roboto", sans-serif;

//
$transition: 0.2s ease-in-out;
