// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;
$font-family-roboto-medium: 'Roboto-Medium';
$font-family-roboto-black: 'Roboto-Black';

// FONTS
